.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px;
  height: 612px;
  width: 241px;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-body .color-swatch {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: inline-block;
  border: .5px solid #949494;
  transition: width .2s, height .2s;
  margin-right: 6px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards i.bif-calendar::before {
  font-family: bose-icon;
  font-size: 50px;
  content: "\EA58";
}
